.root {
    -fx-font-family: "Arial";
    -fx-base: #f4f4f4;
}

.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
}

.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #7f8c8d;
}

.start-button {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
}

.pause-button {
    -fx-background-color: #f39c12;
    -fx-text-fill: white;
}

.stop-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
}

.text-field {
    -fx-prompt-text-fill: #95a5a6;
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 5px;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
}

.status-label {
    -fx-font-weight: bold;
    -fx-text-fill: #2980b9;
}

.canvas {
    -fx-border-color: #2c3e50;
    -fx-border-width: 2px;
    -fx-background-color: #ecf0f1;
}

.list-view {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
}

.vbox, .hbox {
    -fx-border-color: #7f8c8d;
    -fx-border-radius: 5px;
    -fx-background-color: #fafafa; /* Светлый фон */
}

.blue-background-label {
    -fx-background-color: #3498db;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.control-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.control-button:hover {
    -fx-background-color: #2980b9;
}

.left-padding {
    -fx-padding: 0 0 0 20;
}

emoji-button {
    -fx-font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
    -fx-font-size: 18px;
    -fx-padding: 5px;
}